<button matMiniFab aria-label="back to home">
  <button [routerLink]="['/']">
    <mat-icon>arrow_back</mat-icon>
  </button>
</button>

<div class="form-container grid place-items-center h-[100vh] bg-blue-100">
  <div class="form grid p-5">
    <mat-form-field>
      <mat-label>Enter email</mat-label>
      <input matInput type="email" [formControl]="email" (blur)="updateErrorMessage()" required />
      @if (email.invalid) {
      <mat-error>{{ errorMessage() }}</mat-error>
      }
    </mat-form-field>
    <button matButton="elevated" (click)="resetPassword()">Reset Password</button>
    @if (emailValid) {
    <div class="error-msg-div">
      An email to reset your password has been sent.

      <strong>if you don't see an email, check your SPAM folder</strong>
    </div>
    }
  </div>
</div>
